<header id="home">
  <div class="row banner">
    <div class="banner-text">
      <h1 class="responsive-headline">Rıdvan ÇETİN</h1>
      <h3 class="responsive-headline">Software Developer</h3>
      <h3>
        Antalya
      </h3>
      <hr />
      <ul class="social">
        <li><a target="_top" href="mailto:ridvanc07@gmail.com"><i class="fa fa-envelope"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/ridvc"><i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="https://plus.google.com/u/0/+R%C4%B1dvan%C3%87etin"><i class="fa fa-google-plus"></i></a></li>
        <li><a target="_blank" href="http://linkedin.com/in/ridvanc"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="skype:ridvancetin2011?add"><i class="fa fa-skype"></i></a></li>
      </ul>
    </div>
  </div>
</header>